# /src/main/config/
/src/main/config/install.properties
/src/main/config/network.properties
/src/main/config/context.xml
/src/main/config/context2.xml
/src/main/config/workers.properties
/src/main/config/sampledata.properties
/src/main/config/networkFiles
/src/main/config/log4j.properties
/src/main/config/sudo_catalina.sh
/src/main/config/sudo_cacheCleanup.sh
/src/main/config/localFileCache
/src/main/config/indexPermDir
/src/main/config/remoteFilePath
/src/main/config/magick_convert.sh
/src/main/config/import.properties
/src/main/config/install_eve.properties
/src/main/config/context-music.xml
/src/main/config/context-eve.xml
/src/main/config/logback.xml
/src/main/config/logback2.xml
/src/main/config/logback.console.xml
/src/main/config/install_music.properties
/src/main/flashref

# /src/solr/
/src/solr/conf
/src/solr/data
/src/main/resources/application-local.properties

# /
/*.iws
/*.ids
/otherFiles
/exploded
/.project
/working_dir
/build
/lib
/.settings
/schema*
/audios
/projectFilesBackup
/*Pool.txt
/distributedObjectStore.obj
/.classpath
/build.properties
/tmp
/files
/index
/atlassian-ide-plugin.xml
/videos
/*.ipr
/target
/images
/JSPs
/dist
/*.patch
.shelf
/misc*.*
/gen
/notes.txt
/templates
/credentials
