config.stopBubbling = true
lombok.experimental.flagUsage = WARNING

# Add annotations to generated code to supress false warnings and have coverage tools ignore generated code
lombok.addLombokGeneratedAnnotation = true
lombok.addJavaxGeneratedAnnotation = true
lombok.extern.findbugs.addSuppressFBWarnings = true

# Make logger field an instance field to allow unit testing of code branches that just log
lombok.log.fieldIsStatic=false

# Add constructor arg name metadata (i.e. @ConstructorProperties) to generated constructors so they are Jackson friendly
lombok.anyConstructor.addConstructorProperties=true