
# /
/*.iws
/*.ids
/otherFiles
/exploded
/.project
/working_dir
/build
/lib
/.settings
/schema
/schema_old
/audios
/projectFilesBackup
/*Pool.txt
/distributedObjectStore.obj
/.classpath
/build.properties
/tmp
/files
/index
/atlassian-ide-plugin.xml
/videos
/*.ipr
/target
/images
/JSPs
/dist
/*.patch
.shelf
/misc*.*
/gen
/notes.txt
/schema.orig
/templates
/credentials
